.profileImg {
    border-radius: 75px;
    animation: bounce 2s infinite;
    margin-top: 20px;
}
.iconCode, .iconLinkedIn, .iconGithub, .iconTikTok {
    padding-right: 0.3em;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeContainer a {
    width: 100%;
}

/* media queries */
@media (max-width: 480px) {
    .homeContainer {
        flex-direction: column;
        padding: 5px;
    }
    .homeContainer h1 {
        font-size: 1.2em;
    }
    .homeContainer h2 {
        font-size: 1em;
    }
    .homeContainer a {
        font-size: 0.8em;
    }
}

@media (max-width: 768px) {
    .homeContainer {
        flex-direction: column;
        padding: 10px;
    }
    .homeContainer h1 {
        font-size: 1.5em;
    }
    .homeContainer h2 {
        font-size: 1.2em;
    }
    .homeContainer a {
        font-size: 1em;
    }
}